body{
    background-color: cadetblue;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: circle;
    margin-bottom: 20px;
}
.departments-managed{
    padding-left: 10px;
}
.departments-managed > ul > li{
    margin-bottom: 0px;
}
.manager{
    padding-left: 10px;
}
.hr{
    border-left: dotted;
}